<!doctype html>

<html>
<head>
	<title>Notice Me!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="js/login.js"></script>
	<!--<script src="js/bootstrap.js"></script>-->

	<link href="css/css.css" rel="stylesheet">


	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />	<!--<link href="css/bootstrap.css" rel="stylesheet">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">




</head>

<body>
	<div id="main">
		{{!-- <div data-role="page" id="homePage" style = "text-align: center">
		   <div id="mainHeading">
			 <h1>Notice Me!</h1>
		   </div>

		   <div style ="margin: 2em" >
			   <form action="./login" method="POST">
		     <div class="form-group">
		       <label for="exampleInputEmail1">Enter Email address</label>
		       <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="a@b.com" aria-describedby="emailHelp" placeholder="Enter email" required>
		   	</div>
		     <div class="form-group">
		       <label for="exampleInputPassword1">Enter Password</label>
		       <input type="password" name="password" value="1234" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
		     </div>
		     <button type="submit" class="btn btn-primary" onclick="window.location.href = '#home'">Submit</button>

			 <button type="submit" class="btn btn-secondary" > Create Account</button>
			 </form>
		   </div>

		</div> --}}
		<div data-role="page" id="home">
			<div data-role="navbar" class="myNav">
				  <ul>
					  <li><span class="navbar-brand title">Notice Me</span></li>
					  <li></li>
					  <li><span class="navbar-brand"> Home </span></li>
					  <li></li>
					  <li>
						  <button type="button" class="btn btn-default btn-lg navbutton" onclick="window.location.href = '/home#settings'" >
							  <img src="open-iconic/svg/cog.svg" alt="icon name" style ="height:1em">
						  </button>
					  </li>
				  </ul>
			  </div>
			<ul class="list-group list-group-flush">


			{{#each stocks}}
			<li class="list-group-item stock">
			{{{url}}}
			<div class="container" id="home">
			  <div class="row">
			    <div class="col">
			      {{symbol}}
			    </div>
			    <div class="col">
			      {{price}}
			    </div>
			    <div class="col">
			      {{changePercent}}
			    </div>
			  </div>
			</div>
		</div>
			</li>
			{{/each}}
			</ul>
			<a href="/home#addStock" class="float">
			    <img class = "my-float" src="open-iconic/svg/plus.svg" alt="icon name">
			</a>
		</div>

		<div data-role="page" id="addStock">
		  <div data-role="navbar" class="myNav">
				<ul>
					<li><span class="navbar-brand title">Notice Me</span></li>
					<li></li>
					<li><span class="navbar-brand"> Add Stock </span></li>
					<li></li>
					<li>
					  <button type="button" onclick="window.location.href = '/home#home'">
		  			    <span> <img src="open-iconic/svg/arrow-left.svg" alt="icon name" style ="height:1em"> </span>
		  			  </button>
					</li>
				</ul>
			</div>

			<div style = "margin:2em">
				<form action="/addStock" method="POST">
				<div class="form-group" >
				  <label for="exampleInputEmail1">Enter Stock</label>
				  <input  class="form-control" name="stock" value="" aria-describedby="emailHelp" placeholder="Stock Name">
				  <button type="submit" class="btn btn-primary" onclick="window.location.href = '/home#home'">Submit</button>
			   </div>
				</form>
			   <div style = "margin-top:2em"> <h4>Your stocks <h4></div>
				 <hr>
				 <ul class="listgroup">
				{{#each stocks}}
				<li class="list-group-item stock">
				 <div class="stock">
					  {{symbol}}
				 </div>
				 </li>
				{{/each}}
				</ul>
			</div>
		</div>


		<div data-role="page" id="settings">
			<div data-role="navbar" class="myNav">
  				<ul>
  					<li><span class="navbar-brand title">Notice Me</span></li>
  					<li></li>
  					<li><span class="navbar-brand"> Settings </span></li>
  					<li></li>
  					<li>
  					  <button type="button" onclick="window.location.href = '/home#home'">
  		  			    <span> <img src="open-iconic/svg/arrow-left.svg" alt="icon name" style ="height:1em"> </span>
  		  			  </button>
  					</li>
  				</ul>
  			</div>


			<div style = "margin:2em">
				<div class="form-group" >
				  <label>Percent Increase Notification</label>
				  <input class="form-control" aria-describedby="emailHelp" placeholder="Percentage">

				  <label>Percent Decrease Notification</label>
				  <input class="form-control" aria-describedby="emailHelp" placeholder="Percentage">
				  <button type="submit" class="btn btn-primary" onclick="window.location.href = '/home#home'">Submit</button>
			   </div>
		</div>

		<button type="submit" class="btn btn-primary" style = "position:absolute; bottom:2em; background-color:#ff4141; color:white" onclick="window.location.href = '/home#home'">Log Out</button>


	</div>
			<div data-role="page" id="createacct" style = "text-align: center">
		   <div id="mainHeading">
			 <h1>Notice Me!</h1>
		   </div>

		   <div style ="margin: 2em" >
		     <div class="form-group" >
		       <label for="exampleInputEmail1">Email address</label>
		       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		   	</div>
		     <div class="form-group">
		       <label for="exampleInputPassword1">Password</label>
		       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		     </div>
			 <button type="submit" class="btn btn-secondary" onclick="window.location.href = '/home#home'">Submit</button>
		   </div>

		</div>
</body>
</html>
